@model IEnumerable<WebBanHang.Models.ShoppingCartItem>
@using WebBanHang.Models.Common
@if (Model != null && Model.Any())
{
    <h3>Sản Phẩm<span style="float:right;position:relative"><small>@Model.Count()</small></span></h3>
    var i = 0;
    var tongtien = decimal.Zero;
    <table class="table">
        @foreach (var item in Model)
         {
            tongtien += item.TotalPrice;
        <tr>
            <td>@item.ProductName</td>
            <td><img src="@item.ProductImg" width="60" /></td>
            <td>@item.Quantity</td>
            <td>@Common.FormatNumber(item.TotalPrice, 0)</td>
        </tr>
         }
         <tr>
             <td>Tổng tiền</td>
             <td>@Common.FormatNumber(tongtien,0)</td>
         </tr>
    </table>
}
else
{

}

